<!-- template driven form -->
<!-- <app-tdf></app-tdf> -->
<!-- template driven form validation -->
<!-- <app-tdf-v></app-tdf-v> -->
<!-- reactive forms -->
<!-- <app-rf></app-rf> -->
<!-- reactive form validation -->
<!-- <app-rfv></app-rfv> -->
<!-- Custom Directive -->
 <!-- <p appRedEl>{{title}}</p>
 <p appRedEl>shdgsdgfgdgfdf</p> -->

 <!-- routing -->

  <!-- <h1>Routing</h1>
  <a routerLink="">Home</a>
  <br>
  <a routerLink="about">About</a>
  <br>
  <a routerLink="user">User</a>
  <router-outlet></router-outlet>
  <br>
  <br>

  <a routerLink="user/10">User1</a>
  <br>
  <a routerLink="user/20">User2</a>
  <br>
  <a routerLink="user/30">User3</a> -->


  <!-- Services -->
     <!-- <h1>services</h1>

     <ul>
      <li *ngFor="let user of users">
        Name:{{user.name}}, age:{{user.age}}, email:{{user.email}}
      </li>
     </ul>
  
  <app-footer></app-footer> -->


  <!-- API DATA FETCH -->

  <!-- <h1>fetch data from API</h1>
  <app-getdata></app-getdata>
  <h1>put data to api from  HTML form</h1>
  <app-senddata></app-senddata> -->

  <!-- Model and interface -->
   <!-- <app-example></app-example> -->


   <!-- Module and Routing -->
  <h3>Module and Routing</h3>
  <app-login></app-login>
  <app-signup></app-signup>


  
  
  
  

 