<!-- template driven form -->
<!-- <app-tdf></app-tdf> -->
<!-- template driven form validation -->
<!-- <app-tdf-v></app-tdf-v> -->
<!-- reactive forms -->
<!-- <app-rf></app-rf> -->
<!-- reactive form validation -->
<!-- <app-rfv></app-rfv> -->
<!-- Custom Directive -->
 <!-- <p appRedEl>{{title}}</p>
 <p appRedEl>shdgsdgfgdgfdf</p> -->

 <!-- routing -->

  <!-- <h1>Routing</h1>
  <a routerLink="">Home</a>
  <br>
  <a routerLink="about">About</a>
  <br>
  <a routerLink="user">User</a>
  <router-outlet></router-outlet>
  <br>
  <br>

  <a routerLink="user/10">User1</a>
  <br>
  <a routerLink="user/20">User2</a>
  <br>
  <a routerLink="user/30">User3</a> -->


  <!-- Services -->

  <app-footer></app-footer>
  
  

 